@import url('./global.scss');
body {
    background-color: #1d1f20;
}
.list-search {
    overflow-y:auto;
    max-height: 300px; 
}
.img-search {
    width: 30px;
}
.list-search {
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}
.movie .dec {
    min-height: 170px;
}